absl-py==2.0.0
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
antlr4-python3-runtime==4.9.3
argcomplete==3.2.1
async-timeout==4.0.3
attrs==23.1.0
av==11.0.0
av2==0.2.1
cachetools==5.3.2
ccimport==0.4.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
colorama==0.4.6
colorlog==6.8.0
crcmod==1.7
cryptography==41.0.7
cumm==0.4.11
cumm-cu113==0.4.11
cycler==0.12.1
Cython==0.29.37
descartes==1.1.0
distlib==0.3.8
easydict==1.11
filelock==3.13.1
fire==0.5.0
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.12.2
ftfy==6.1.3
google-auth==2.25.2
google-auth-oauthlib==1.0.0
grpcio==1.60.0
hdbscan==0.8.33
hydra-core==1.3.2
idna==3.6
imageio==2.33.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
kiwisolver==1.4.5
kornia==0.6.5
lark==1.1.8
lazy_loader==0.3
lightning-utilities==0.10.0
llvmlite==0.40.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.3
mdurl==0.1.2
mmcv==1.3.13
mmcv-full==1.7.2
mmengine==0.10.2
-e git+https://github.com/chongzhou96/MaskCLIP.git@245d31f809be9c1938f8f30561b6bf9ed033d746#egg=mmsegmentation
model-index==0.1.11
multidict==6.0.4
networkx==3.1
ninja==1.11.1.1
nox==2023.4.22
numba==0.57.0
numpy==1.24.4
nuscenes-devkit==1.1.11
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.8.1.78
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.34
ordered-set==4.1.0
oss2==2.17.0
packaging==23.2
pandas==2.0.3
pccm==0.4.11
-e git+https://github.com/open-mmlab/OpenPCDet.git@255db8f02a8bd07211d2c91f54602d63c4c93356#egg=pcdet
Pillow==10.1.0
platformdirs==4.1.0
portalocker==2.8.2
prettytable==3.9.0
protobuf==3.20.1
psutil==5.9.7
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.20.0
pyDeprecate==0.3.2
Pygments==2.17.2
pyparsing==3.1.1
pyproj==3.5.0
pyquaternion==0.9.9
python-dateutil==2.8.2
pytorch-lightning==1.6.5
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
Shapely==1.8.5.post1
SharedArray==3.2.3
six==1.16.0
spconv-cu113==2.3.6
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.2.0
tifffile==2023.7.10
tomli==2.0.1
torch==1.12.1+cu113
torch-scatter==2.1.1
torch-tb-profiler==0.4.3
torch_geometric==2.3.1
torchaudio==0.12.1+cu113
torchmetrics==1.2.1
torchvision==0.13.1+cu113
tqdm==4.65.2
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.18
virtualenv==20.25.0
Wand==0.6.13
wcwidth==0.2.13
Werkzeug==3.0.1
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
